{{input type="text" value=value}}

{{#ember-super-number-directional-link action="handleIncrement"}}
  <a class="increment" href="#">+</a>
{{/ember-super-number-directional-link}}

{{#ember-super-number-directional-link action="handleDecrement"}}
  <a class="decrement" href="#">-</a>
{{/ember-super-number-directional-link}}
