{{input type="text" value=value}}

{{#directional-link action="handleIncrement"}}
  <a class="increment" href="#">+</a>
{{/directional-link}}

{{#directional-link action="handleDecrement" bubbles=false}}
  <a class="decrement" href="#">-</a>
{{/directional-link}}
